---
---

<footer>
  <p>TrashDash and this documentation are licensed under the MIT License.</p>
</footer>

<style>
footer {
  margin-top: auto;
  padding: 2rem 0;
  border-top: 3px solid var(--theme-divider);
}

p {
  color: gray;
}
</style>
